.profile {
  width: 300px;
  height: 500px;
  background-color: turquoise;
}
.description {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 0.25px;
  text-align: center;
}
.avatar {
  width: 250px;
  display: block;
  margin: auto;
}
.stats {
  width: 100%;
  list-style: none;
  display: flex;
  padding: 0;
  align-items: center;

  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 0.25px;
}
.stats__item {
  width: 100px;
  text-align: center;

  background-color: blueviolet;
}
